<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <!-- Logout Form Fragment -->
    <div th:fragment="logoutForm">
        <form th:action="@{/logout}" method="post" id="logoutForm" style="display: none;">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        </form>
        <script>
            function performLogout() {
                document.getElementById('logoutForm').submit();
                return false;
            }
        </script>
    </div>
</body>
</html>